.post-title {
    flex:1 !important;
    font-weight: bolder;
    padding-right:15px !important;
    line-height:16px;
    vertical-align: middle;
}

.my-divider {
    line-height: 5px;
}


.brd-chld>div:nth-child(2),
.brd-chld>div:nth-child(3),
.brd-chld>div:nth-child(4) {
    border-left: 1px solid #CCCCCC;
}

.h800px .mce-edit-area {
    height: 400px !important;
}

.h40 {
    height: 40px !important;
}