.add-comment {
	padding: 15px !important;
}

.add-comment form {
	border: 1px solid #CCCCCC;
	border-radius: 5px;
	padding: 15px !important;
}

.add-comment-btn {
	height: 18px;
}

.comment-dialog-height {
	height: 400px !important;
}

.vrt-list {
	width:100% !important;
	max-height:450px !important;
	height:auto !important;
}