.register form {
	border: 1px solid #CCCCCC;
	border-radius: 5px;
	padding-left: 25px !important;
	padding-right: 25px !important;
}

.lin-height {
	line-height: 50px;
}

.cur-hover:hover {
	cursor: pointer;
}

.register h1,
.register h2,
.register h3,
.register h4,
.register h5,
.register h6 {
    color: #777777 !important;
}

