.page-input {
    width: 50px;
    line-height: 20px;
    border: none;
    outline: 0px;
    text-align:right;
    font-size: 14px !important;
    font-weight: bold;
}

.page-go {
    font-size: 14px !important;
    background-color: white !important;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    height: 30px;
}

.page-container {
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    padding: 0px;
}