.add-comment {
	padding: 15px !important;
}

.add-comment form {
	border: 1px solid #CCCCCC;
	border-radius: 5px;
	padding: 15px !important;
}

.add-comment-btn {
	height: 18px;
}

.search-pnl {
	border: 1px solid #CCCCCC;
	border-radius: 5px;
	padding: 5px;
}